<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <h3>Current User: <%= current_user.name %></h3>

  <%= link_to 'Sign Out', sign_out_path, method: :delete %>
<% else %>
  <p>Hi stranger! <%= link_to 'Sign In', new_session_path %></p>
<% end %>

<h3><%= flash[:notice] %></h3>

<%= yield %>

</body>
</html>
